body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
}

.header-navigation {}

.header-logo {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-menu-list {}



.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-list .header-menu-link:hover {
    color: #404BBF;
}


.header-address {}

.header-address-menu-list {}

.header-address-menu-item {}

.header-address-mail-phone {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-menu-list .header-address-mail-phone:active {
    color: #404BBF;
}


/* business */
.business {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.business-title {
    text-align: center;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.business-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;

}

.business-btn:hover {
    color: #404BBF;
}


/* desc */
.desc {
    background: #FFF;
}

.desc .link {}

.desc-title {}

.desc-list {}

.desc-item {}

.desc-title-list {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.desc-paragraf {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.centrum {
    background: #F4F4FD;
}

.centrum-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}


.centrum-list {}

.centrum-item {}

.centrum-photo {}

.centrum-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.centrum-paragraf {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    background: #FFF;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-photo {}

.portfolio-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-paragraf {}

.footer {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: #2E2F42;
}

.footer-paragraf {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.footer-web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}